.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}
.swiper-slide {
    width: 60%;
}

@media only screen and (max-width: 640px) {
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}
